@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
body{
    margin: 0;
    padding: 0;
    background-color: #334E68;
    font-family: "Oswald", sans-serif;
    color: #f1f1f1;
}

html{
    margin: 0;
    padding: 0;
}

a{
   
    color: #f1f1f1;
}



/* layout start */

.logo-layout{
    display: none;
}

.login-layout{
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  color: #f1f1f1;
  background-color: #243b53;
  text-decoration: none;
  margin-top: -55px;
  width: 83px;
  height: 45px;
  border-radius: 1000px;
  font-size: 14px;
  margin-right: 9px;
}





.nav-desk-layout{
    display: none;
}

.header-layout{
    width: 252px;
    height: 84px;
    margin: 0 auto;
    margin-top: 40.5px;
    font-size: 72px;
    color: #f1f1f1;
    z-index: -1;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

#button-1{
    margin-top: 96px;
}

.button-layout{
    margin: 0 auto;
    display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
  background-color: #627d9b;
  text-decoration: none;
  margin-bottom: 18px;
  width: 180px;
  height: 63px;
  border-radius: 23px;
  font-size: 27px;

}

.line-layout{
    height: 4.5;
    background-color: #102a43;
    margin: 0 auto;
    margin-top: 230px;
    height: 9px;
  width: 79%;
  border-radius: 9px;
  bottom: 0;
}

.location-layout{
    margin-top: 40px;
    font-size: 36px;
   
    width: 90%;
    margin: 20px auto;
}

.overview-layout{
    
    display: none;
}

.comicgrid-layout{
    display: grid;
    grid-template-columns:  144px 144px;
    justify-content: center;
    gap: 18px;
    margin-top: 9px;
    margin: 0 auto;
}

.comic-layout{
    width: 144px;
    height: 269px;
    background-color: #627D9B;
    margin-top: 45px;
    padding: 0;
}

.load-layout{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 63px;
   
    height: 42px;
    font-size: 36px;
}


.footer-layout{
    width: 100%;
    height: 314px;
    background-color: #243B53;
    margin: 0;
    padding: 0;
    margin-top: 164px;
    display: grid;
    align-items: center;
}

.footer-row-1{
    grid-row-start: 1;
    padding: 18px;
    font-size: 45px;
}

.footer-row-2{
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
}

.footer-row-3{
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-row-4{
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
/* layout end */

/* navigator start */

#menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    
  }
  
  #phone-nav {
    background: #243b53;
    z-index: 1;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-40px);
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: #373c56;
    display: block;
    border-radius: 9px;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .change .bar {
    background-color: #000000;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotate(45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  
  
  .nav a {
    list-style: none;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
  }
  
  .nav li a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 22px;
    font-family: "Oswald", sans-serif;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .nav li {
    list-style: none;
    padding: 16px 0;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  #logo-nav {
    transform: translateY(-200px);
  }
  
  .nav {
    transition: 0.3s ease;
    background-color: #243b53;
    transform: translateY(-1000px);
  }
  
  .change {
    display: block;
    transform: translateY(0px);
  }
  
  #CTAButtonNav {
    display: block;
    height: 72px;
  
    width: 100%;
  }
  
  #buttonContainer {
    display: flex;
    align-items: center;
    align-content: center;
  }
  
  #container-animate {
    display: none;
  }
  
  /* navigator end */

  /* comic grid start */

  .comic-layout img{
    padding: 9px;
    width: 90%;
    height: auto;
  }


  /* comic grid end */

@media only screen and (min-width: 730px) {

    /* layout start */

    .header-layout{
            margin-top: 216px;
            margin-bottom: 144px;
    }

    .logo-layout{
        display: initial;
    }

    .login-layout{
        float: right;
        margin: 13.5px;
        width: 144px;
        height: 57px;
        border-radius: 1000px;
        font-size: 18px;
    }

    .nav-desk-layout{
        display: initial;
        width: 100%;
        height: 18px;
        
    }

    .nav-phone-layout{
        display: none;
    }

    .overview-layout{
        display: initial;
        background-color: #243B53;
        width: 274px;
        height: 420px;
        margin: 9px;
        margin-top: 200px;
    }

    .comicgrid-layout{
        grid-template-columns: 270px 270px 270px;
    }
    
    .comic-layout{
        width: 274px;
        height: 420px;
    }

    .container-layout{
        display: flex;
    }

    .buttoncontainer-layout{
        display: flex;
        
    }

    #button-1{
        margin-top: 0;
    }

    


    /* layout end */

    /* nav start */


    #container-animate {
        display: initial;
      }
    
      #menu-bar {
        
        animation-name: example;
        animation-duration: 2s;
        position: sticky;
        top: 0;
      }
      
      
    
      
    
      #container {
        margin: 9px;
        transition: all 0.8s;
        cursor: pointer;
      }
    
      #container:hover {
        transform: translateY(10px);
      }
    
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #f1f1f1;
        text-decoration: none;
       padding: 2px;
      }
    
      #balk {
        width: 810px;
        height: 94px;
        background-color: #243b53;
        border-radius: 1000px;
        color: white;
        position: fixed;
        transform: translateY(45px);
        
      }
    
      #nav-text {
        align-items: center;
        /* overflow: hidden; */
        font-size: 27px;
      }
    
      #nav-text li {
        transition: all 0.1s;
        animation-name: text;
        animation-duration: 1s;
        font-family: "Oswald", sans-serif;
        gap: 36px;
        padding: 0 18px;
        color: #f1f1f1;
      }
    
      #nav-text li:hover {
        background-color: #627d9b;
        padding: 9px 18px;
        border-radius: 1000px;
      }
    
      .bol-outer {
        transform: translateY(-50px);
        text-decoration: none;
        list-style-type: none;
        height: 50px;
      }

      .bol-outer a{
          text-decoration: none;
          color: #f1f1f1;
      }
    
      #bol-inner {
        background-color: #243b53;
        width: 150px;
        height: 150px;
        border-radius: 1000px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
      }
    
      #bol-inner p {
        transition: all 0.4s;
        color: #f1f1f1;
      }
    
      #bol-inner p a {
        color: #f1f1f1;
        text-decoration: none;
        font-family: "Oswald", sans-serif;
      }
    
      #bol-inner p:hover {
        background-color: #627d9b;
        padding: 18px;
        border-radius: 1000px;
      }
    
      .balk-active {
        transform: translateY(-120px);
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
      }

      /* overview start */
      .overview-layout p{
        color: #f1f1f1;
        border-bottom: solid 1px black;
        font-size: 27px;
        padding: 9px;
      }
      .overview-layout a{
        color: #f1f1f1;
        display: flex;
        padding: 9px;
        font-size: 27px;
      }


      /* overview end */

      @keyframes example {
        from {
          transform: translateY(-144px);
        }
        to {
          transform: translateY(0);
        }
      }
    }
    
    @keyframes text {
      from {
        transform: translateY(-144px);
      }
      to {
        transform: translateY(-120px);
      }
      /* navigator end */
    }
      
      /* nav end */
      

